# Ignore all files in the root directory
/*

# Ignore .DS_Store
.DS_Store

# Ignore pycache
__pycache__

# Except these files
!.gitignore
!.gitattributes
!DATASETS.md


# This file type
*.gz

# And this folder
!Code/
Code/data/helper/
Code/data/*.csv
Code/data/raw/
Code/out/tones/

Code/src/__pycache__/
# !Code/data