# Ignore all files in the root directory
.venv/
.vscode/
.idea/

Code/data/raw/
Code/gephi/
Code/out/
Code/src/test.py

# Ignore .DS_Store
.DS_Store

# Ignore pycache
__pycache__

# Except these files
!.gitignore
!.gitattributes
DATASETS.md


# This file type
*.gz